<nav>
    <div class="navbar container">
        <div class="navbar-header" id="navbar-header" *ngIf="menuState; else elseMenu">
            <div class="navbar-img">
                <img src="../../assets/logo.png" alt="">
            </div>       
            <div class="navbar-options" (click)="showCloseMenu()">
                <div class="options"><p>{{city != null ? country +" ,"+ city: "Add location"}}</p></div>                   
                <div class="options"><p>{{adult + children == 0 ? "Add Guues": adult + children}}</p></div>
                <div class="options text-rojo"><i class="fas fa-search"></i></div>
            </div>
        </div> 
        <ng-template #elseMenu>       
            <div class="navbar-body" id="navbar-body">
                <div class="navbar-body-options">
                    <div class="options option1">
                        <strong>Location</strong>
                        <p id="addLocation">{{city != null ? country +" ,"+ city: "Add location"}}</p>
                    </div>
                    <div class="options option2">
                        <strong>Guest</strong>
                        <p>{{adult + children == 0 ? "Add Guues": adult + children}}</p>
                    </div>
                    <div class="options" (click)="search()" (click)="showCloseMenu()" >
                        <button class="btn bg-rojo"> 
                            <i class="fas fa-search"></i>
                            <p>Search</p>
                        </button>
                    </div>
                </div>
                <div class="option-select">
                    <div class="options">
                        <div class="location" (click)="addCity('Helsinki','Finland')">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Helsinki, Finland</p>
                        </div>     
                        <div class="location" (click)="addCity('Turku','Finland')">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Turku, Finland</p>
                        </div>
                        <div class="location" (click)="addCity('Vaasa','Finland')">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Vaasa, Finland</p>
                        </div>
                        <div class="location" (click)="addCity('Oulu','Finland')">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Oulu, Finland</p>
                        </div>
                    </div>
                    <div class="options">
                        <div class="person">
                            <strong>Adult</strong>
                            <p class="text-gris">Ages 13 or above</p>
                            <div>
                                <button (click)="adult = adult - 1">-</button>
                                <p>{{adult}}</p>
                                <button (click)="adult = adult + 1">+</button>
                            </div>
                        </div>
                        <div class="person">
                            <strong>Children</strong>
                            <p class="text-gris">Ages 2-12</p>
                            <div>
                                <button (click)="children = children - 1">-</button>
                                <p>{{children}}</p>
                                <button (click)="children = children + 1">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         </ng-template>
    </div>
</nav>
